name: Build and Deploy to GKE

on:
  push:
    branches: [ release-* ]

    # Environment variables available to all jobs and steps in this workflow
    jobs:
      setup-build-publish-deploy:
        name: Setup, Build, Publish, and Deploy
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@v2

        - name: Build
          run: npm run build

        - name: Setup gcloud environment
          uses: GoogleCloudPlatform/github-actions@0.1.2
          with:
            # The version of the gcloud SDK to be installed.  Example: 275.0.0
            version: # optional, default is 275.0.0
            # The service account email which will be used for authentication.
            service_account_email: ${{ secrets.GCP_SA_EMAIL  }}
            # The service account key which will be used for authentication.
            service_account_key: ${{ secrets.GCP_SA_KEY }}

        - name: Google Cloud Platform (GCP) CLI - gcloud
          uses: actions-hub/gcloud@300.0.0
          with:
            args: 'app deploy --quiet --project=${{ secrets.PROJECT_ID }}'
            cli: # optional, default is gcloud
